<div class="issue tabbable tabs-left">
  <ul class="nav nav-tabs nav-append-content">
    <li class="active"><a href="#tab_edit"><%= t('issue.label') %></a></li>
    <li ><a href="#tab_progresses"><%= t('progress') %></a></li>
    <li ><a href="#tab_add_progress"><%= t('issue.progress.add') %></a></li>
  </ul> <!-- /tabs -->
  <div class="tab-content">
    <div class="tab-pane active" id="tab_edit">
      <%= render 'admin_edit' %>
    </div>
    <div class="tab-pane " id="tab_progresses">
      <%= render 'progresses' %>
    </div>

    <div class="tab-pane " id="tab_add_progress">
      <%= render 'progress_form' %>
    </div>

  </div>
</div>


<script type="text/javascript">
    // Custom Selects
    
    $("select").selectpicker({style: 'btn-info'});
    

    </script>