<h1>Listing issue_progesses</h1>

<table>
  <tr>
    <th>Issue</th>
    <th>User</th>
    <th>Name</th>
    <th>Remark</th>
    <th>Status</th>
    <th>Level</th>
    <th>Price</th>
    <th>Check at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @issue_progesses.each do |issue_progess| %>
  <tr>
    <td><%= issue_progess.issue %></td>
    <td><%= issue_progess.user %></td>
    <td><%= issue_progess.name %></td>
    <td><%= issue_progess.remark %></td>
    <td><%= issue_progess.status %></td>
    <td><%= issue_progess.level %></td>
    <td><%= issue_progess.price %></td>
    <td><%= issue_progess.check_at %></td>
    <td><%= link_to 'Show', issue_progess %></td>
    <td><%= link_to 'Edit', edit_issue_progess_path(issue_progess) %></td>
    <td><%= link_to 'Destroy', issue_progess, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Issue progess', new_issue_progess_path %>
