<%= simple_form_for(@issue_progess, :url => add_progress_issue_path) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    
    <%= f.input :name %>
    <%= f.input :price , input_html: { value: '0' }%>
    <%= f.input :remark, as: :text, input_html: { class:'span5', rows: 10,cols: 20 } %>
   
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'span2 btn-inverse'  %>
  </div>
<% end %>
