<h1><%=t ('show') %></h1>

<div class="row" >
  <%= link_to 'Back', issues_path , class: 'span2 pull-right btn btn-block btn-inverse'%>
</div>
<br/>
<div class="row">
  <div class="span4 issue-about" style="height:100%">

    
      <b><%=t 'issues.fullname' %> : </b>
      <%= @issue.fullname %>
    
      <br/>
    
      <b><%=t 'issues.mobile' %> : </b>
      <%= @issue.mobile %>
    <br/>

    
      <b><%=t 'issues.email' %> : </b>
      <%= @issue.email %>
    <br/>

    
      <b><%=t 'issues.place' %> : </b>
      <%= @issue.place %>
    <br/>

    
      <b><%=t 'issues.time' %> : </b>
      <%= @issue.time %>
    <br/>
    
      <b><%=t 'issues.status' %> : </b>
      <%= t("issue.status.status_" + @issue.status.to_s) %>
    
    <br/>
      <b><%=t 'issues.detail' %> : </b>
      <%= @issue.detail %>
    

    

  </div>


<div class="span7 detail-popovers" >
    <div class="popover right">
      <div class="arrow"></div>
      <h3 class="popover-title">
        <%=t :progress %>
      </h3>
      <div class="popover-content">
        <% @issue.issue_progesses.each_with_index do |issue_progess,index| %>
        <% if index != 0 %>
          <hr/>
        <% end %>
        <b><%= issue_progess.name %></b>
        <p><%= issue_progess.remark.html_safe %></p>

        <% end %>
      </div>
    </div>
</div>

</div>