<div class="row">
<div class="span12">
<h1><%=t "users.all" %></h1>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th><%= t('users.username') %></th>
      <th><%= t('users.email') %></th>
      <th><%= t('users.registered') %></th>
      <th><%= t('users.role') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.name, user %></td>
      <td><%= user.email %></td>
      <td><%= user.created_at.to_date %></td>
      <td><%= user.roles.first.name.titleize unless user.roles.first.nil? %></td>
      <td>
        <a data-toggle="modal" href="#role-options-<%= user.id %>" ><%=t("users.change_role")%></a>
          <%= link_to(t("user.delete"), user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete) unless user == current_user %>
        <%= render user %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
