


<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01">
      </button>
      <a href="#fakelink" class="brand fui-flat"></a>
      <div class="nav-collapse collapse" id="nav-collapse-01">
        <ul class="nav">
          <li><%= link_to t(:home), {:controller => 'home', :action => 'index'}%></a></li>
          <li><%= link_to t(:have_issue), {:controller => 'issues', :action => 'new'}%> </li>
          <li><%= link_to t(:all_issue), {:controller => 'issues', :action => 'index'}%> </li>
          
          <li><%= link_to t(:about), {:controller => 'home', :action => 'index'}%> </li>
        </ul> <!-- /nav -->
       <!-- <ul class="nav pull-right">
          <li><a href="#fakelink"><%=t :login %></a></li>
          <li><a href="#fakelink"><%=t :register %></a></li>
          
        </ul> -->
      </form>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>