


<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01">
      </button>
      <a href="#fakelink" class="brand fui-flat"></a>
      <div class="nav-collapse collapse" id="nav-collapse-01">
        <ul class="nav">
          <li><%= link_to t(:home), root_path%></a></li>
          <li><%= link_to t(:have_issue), new_issue_path%> </li>
          <li><%= link_to t(:all_issue), issues_path%> </li>
          
          <li><%= link_to t(:about), about_path%> </li>
        </ul> <!-- /nav -->
        <ul class="nav pull-right">
          <li><%= link_to t(:login), new_user_session_path%> </li>
        </ul> 
      </form>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>