<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "WeSeen : Network Operations Center System" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "WeSeen : Network Operations Center System" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application", :media => "all"  %>
    <%= javascript_include_tag "flatui-checkbox", :media => "all"  %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">

    <div id="main" role="main">
      <div class="container">
        <%= render 'layouts/navigation' %>
        
        <div class="content">
           <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
            </div>
          </div>
                        <%= yield %>
         
          <footer>

          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
    
    <script type="text/javascript">
      (function () { var done = false; var script = document.createElement("script"); script.async = true; script.type = "text/javascript"; script.src = "https://www.purechat.com/VisitorWidget/WidgetScript"; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == "loaded" || this.readyState == "complete")) { var w = new PCWidget({ c: '1e063930-555f-465c-a1fa-f6027e72bb2e', f: true }); done = true; } }; })();
    </script>        
  </body>
</html>
